<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="static\base.css">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div class="nav-icon">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
    </div>
    <nav class="hidden-nav">
        <ul>
            <li><a href="/team">Team</a></li>
            <li><a href="/company">Company</a></li>
            <li><a href="/main">Main</a></li>
            <li><a href="/news">News</a></li>
            <li><a href="/partners">Partners</a></li>
            <li><a href="/product">Product</a></li>
        </ul>
    </nav>
    <script src="static\script.js"></script>
</body>
</html>