<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="static\main.css">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Fugaz+One&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Fugaz+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
</head>
<body>
    <div class="nav">
        <div class="logo">
            <img src="static\imgs\logo.png" alt="" >
            <a href="#janaru">Janaru</a>
        </div>
        <div class="hrefs">
            <a href="#principles">Принципы</a>
        <a href="#path">Путь</a>
        </div>
        <div class="other">
            <a href="">Download app</a>
        </div>
        </div>

<div class="container">


<div class="image"><div class="team" id="janaru">
        <div class="m-header">
            <h1>Janaru project</h1>
            <h2>Первый отечественный фондомат в Казахстане</h2>
        </div>
        <p>Проект начал деятельность в 2024 году и за столь короткий срок имеет несколько достижений:</p>
        <div class="blocks"><p class="firstblock">Участие в финале хакатона innoventure challenge</p>
        <p class="secondblock">Грант в размере 500 000 тг за занятое первое место в экотоне от UNICEF</p></div>
    </div>
<div class="image2"><div class="principles" id="principles">
    <div class="blocks2"><p class="thirdblock">Развитие переработки</p>
    <span id="boot-icon" class="bi bi-recycle" style="font-size: 6rem; color: rgb(0, 128, 55);"></span>
    <p class="fourthblock">Фандомат позволяет развить сферу</p>
    <p class="fourthblock">предметов из переработанных</p>
    <p class="fourthblock">материалов</p>
    </div>
</div>
</div>

</body>

</html>